.animation-buttons {
    display: flex !important;
    height: 65vh !important;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto !important;
    align-content: flex-start;
    gap: 15px;
}

.card {
    margin: 0px !important;
}

.selected {
    scale: 1.05;
    z-index: 10;
    box-shadow: rgba(100, 100, 111, 0.65) 0px 7px 29px 0px !important;

    &.red {
        outline: 2px rgb(208, 73, 73) solid !important;
    }

    &.orange {
        outline: 2px orange solid !important;
    }

    &.olive {
        outline: 2px rgb(185, 185, 5) solid !important;
    }

    &.green {
        outline: 2px rgb(9, 181, 9) solid !important;
    }

    &.yellow {
        outline: 2px rgb(230, 230, 32) solid !important;
    }

    &.violet {
        outline: 2px rgb(165, 71, 205) solid !important;
    }

    &.teal {
        outline: 2px rgb(3, 152, 152) solid !important;
    }

    &.blue {
        outline: 2px rgb(0, 102, 255) solid !important;
    }
}